<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Todo App</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
    <style>
    body{
        background-color: #0A243F;
    }
    .main{
        margin-top: 20px;
    }
    .left{
        background-color: white;
        height: 400px;
        border-radius: 10px;
        padding: 15px;
        
    }
    .right{
        background-color: #25B3FF;
        height: 400px;
        border-radius: 10px;
        padding: 15px;
        overflow: scroll;
    }
    ul {
        list-style: none;
    }
    ul li:before {
        content: ' #  ';
        color : red;
    }
    ul li:hover {
        text-decoration: line-through;
    }
    </style>
</head>
<body>
    <div class="container-fluid main">
        <div class="row">
            <div class="col-md-12" align="center">
                <img src="https://www.shareicon.net/data/128x128/2016/11/16/854159_pencil_512x512.png" alt="">
            </div>
        </div>
    </div>
    <div class="container-fluid main">
    <div class="row">
        <div class="col-md-6">
        <div class="left">
            <form id="add-note">
                <input type="text" name="note" autofocus="" class="form-control" style="width:50%;margin: 0 auto" required="true">
                <button id="save" style="margin-left:45%;margin-top:5px;" class="btn btn-success">Save</button>
            </form>
        </div>
        </div>
        <div class="col-md-6">
        <div class="right">
            <ul>
                <% for(var i=0; i < notes.length; i++){  %>
                    <li class="<%= notes[i]._id %>"><%= notes[i].item %></li>
                    <input type="hidden" value="<%= notes[i]._id %>">
                    <span class="edit btn btn-group-sm btn-success" id="<%= notes[i]._id %>">edit</span>
                <% } %>
            </ul>
        </div>
        </div>
    </div>
    </div>
    <script>
        $(document).ready(function(){
            $('form').on('submit',function(e) {
                var item = $('form input');
                var todo = {item: item.val()};
                $.ajax({
                    type : 'post',
                    url : '/',
                    data : todo,
                    success:function(data){
                        location.reload();
                    }
                });
                return false;
            });

            $('li').on('click', function(){
                  var id = $(this).attr('class');
                  console.log(id);
                  $.ajax({
                    type: 'DELETE',
                    url: '/' + id,
                    success: function(data){
                      location.reload();
                    }
                  });
              });

            $(".edit").on('click', function(){
                var id = $(this).attr('id');
                $.ajax({
                    type : 'post',
                    url : '/edit',
                    data : id,
                    success:function(data){
                        location.reload();
                    }
                });
            });
        });
        
    </script>
</body>
</html>